h1 {
    text-align: center;
  }
  
  #numbers-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr)); /* Responsividade para todos os dispositivos */
    gap: 5px; /* Espaçamento entre os números */
    margin: 20px auto;
    max-width: 650px; /* Largura máxima dos números */
    overflow: auto;
  }
  
  .number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border: 1px solid #000;
    cursor: pointer;
  }
  
  .selected {
    background-color: #ffcc00; /* Cor de fundo quando selecionado */
  }
  
  #submit-button {
    display: block;
    margin: 0 auto;
  }

  
  #show-more-button {
    display: none;
  }
  